/*inter 700 */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');
/*mulish 400*/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/*mulish 700*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
/*open sans 400*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*dm sans 500*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

:root {
    --verde-letras: #89C5CC;
    --verde-detalhes: #69B99D;
    --branco-principal: #F9F9F9;
    --cinza-letras: #7D7987;
    --azul-letras: #1F1534;
    --preto-letras: #000000;

    --fonte-inter: 'Inter', sans-serif;
    --fonte-mulish-400: 'Mulish', sans-serif;
    --peso-mulish-400: 400;
    --fonte-mulish-700: 'Mulish', sans-serif;
    --peso-mulish-700: 700;
    --fonte-open-sans: 'Open Sans', sans-serif;
    --fonte-dm-sans: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-open-sans);
    color: var(--preto-letras);
    background-color: white;
}

.cabecalho {
    padding: 65px 153px 109px 122px;
    display: flex;
    justify-content: space-between; /* Espaça os itens do cabeçalho */
    align-items: center; 
    font-size: 22px ;
}

.logo-link {
    text-decoration: none;
    color: var(--verde-letras); 
    font-family: var(--fonte-inter);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);  /* Sombra do texto */
}

.cabecalho__menu {
    display: flex;
    gap: 48px; /* Espaçamento entre itens do menu */
    font-size: 18px;
    color: var(--cinza-letras);
    font-family: var(--fonte-mulish-400);
    font-weight: 400;
    text-decoration: none;
    backdrop-filter: blur(10px); /* Adiciona um efeito de desfoque ao fundo */

}

.home-link {
    color: var(--azul-letras);
    font-family: var(--fonte-mulish-700);
    font-weight: 700;
    text-decoration: none;
}

.apresentacao {
    display: flex;
    gap: 32px;
    padding-left: 119px;
    padding-right: 159px; 
    margin-bottom: 133px;
    align-items: flex-start; /* Alinha itens ao início */
    font-family: var(--fonte-mulish-400);
}

.titulo {
    font-family: var(--fonte-mulish-400); 
    font-size: 49px; 
    font-weight: 400; 
    line-height: 56px; /* Altura da linha */
    text-align: left;
    color: var(--preto-letras); 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.titulo-destaque {
    color: var(--verde-letras);
    font-family: var(--fonte-mulish-700);
    font-size: 700;
}

.apresentacao__paragrafo__texto {
    font-family: var(--fonte-open-sans);
    color: var(--cinza-letras);
    font-weight: 400;
    font-size: 14px;
    margin-top: 40px;
    line-height: 28px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.paragrafo-destaque {
    font-family: var(--fonte-open-sans);
    font-family: var(--fonte-open-sans);
}

.principal__link {
    font-family: var(--fonte-dm-sans);
    margin-top: 40px;
}

.imagem-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px, 32px, 15px, 32px;
    height: 56px;
    width: 179px;
    top: 473px;
    left: 119px;
    border-radius: 4px; /* Bordas arredondadas do link */
    font-size: 16px;
    font-family: var(--fonte-dm-sans); 
    font-weight: 500; 
    color: var(--branco-principal); /* Cor do texto */
    background-color: var(--verde-detalhes); /* Cor do fundo do botão */
    text-decoration: none; /* Remove o sublinhado do link */ 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.imagem-link img {
    width: 24px; /* Altere para o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
}

.apresentacao__imagem {
    width: 481px;
    height: 332px;
    top: 197px;
    left: 640px;
}

.rodape {
    text-align: center;
    font-family: var(--fonte-dm-sans);
    font-weight: 400;
    color: var(--preto-letras);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 0px;
    padding-top: 0;
}

.rodape__texto a{
    text-decoration: none;
    color: var(--preto-letras);
}